@tailwind base;
@tailwind components;
@tailwind utilities;

#bgol
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -500;
    position: fixed;
    background: rgba(0, 0, 0, 0.81);
}

#bg
{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -600;
    position: fixed;
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

#bestmodsLogo
{
    text-align: center;
    padding: 30px;
}

#bestmodsLogo img
{
    margin: 0 auto;
}

#searchContainer
{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.card thead {
	display: none;
}

.card tbody tr {
	float: left;
	width: 25em;
	margin: 0.5em;
	border: none;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.card tbody tr td {
	display: block;
	border: 0;
}

.card-image-td
{
    padding: 0px !important;
}

.card-image
{
    border-radius: 15px 15px 0px 0px;
}

.card-icons
{
    display: flex;
    justify-content: space-between;
}

.card-icon-div
{

}

.card-icon
{
    width: 24px;
    height: 24px;
}

.card-icon-text
{
    vertical-align: middle;
}


.card-seed img
{
    display: inline-block;
}

.card-seed a
{
    vertical-align: middle;
}